@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shard/_Layout.cshtml";
}

@{
    ViewBag.Title = "Tweets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <ul>
        @foreach (var Tweet in ViewBag.Tweets) {
            <li>@Tweet.Text</li>
        }
    </ul>
</div>

