@{
    ViewBag.Title = "TweetSentNL - Hoe tweet men over jouw brand?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Typ een zoekterm om het Twitter sentiment te bepalen.</h2>
    <form method="get" action="/Search/Results">
        <input id="Q" name="Q" type="search" class="form-control input-lg" />
        <input class="btn btn-large btn-primary" type="submit" value="Bepaal sentiment" />
    </form>
</div>